#contenedor_a{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#i-card{
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    max-height: 300px;
    height: 100%;
}
#i-btn{
    color: white;
    background-color: #1F316F;
    border-radius: 20px;
}

#contenedor_btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#i-title{
    text-align: center;
    font-size: 20px;
}