<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Recuperar contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" mode="ios" text="" color="dark" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="i-card" mode="ios">
    <ion-card-header id="i-header" mode="ios">
      <ion-card-title id="i-title" mode="ios">Recuperar contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item mode="ios">
          <ion-input mode="ios" name="txtEmail" label="Correo electronico: " type="email" labelPlacement="stacked" placeholder="Ingrese su correo electronico..."></ion-input>
        </ion-item>
        <div id="contenedor_a">
          <a id="a-link" routerLink="/login">¿Ya tienes cuenta? Inicia sesion</a>
        </div>
      </ion-list>
    </ion-card-content>
    <div id="contenedor_btn">
      <ion-button id="i-btn" (click)="recuperarContrasena()">Recuperar contraseña</ion-button>
    </div>
  </ion-card>

</ion-content>
