<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="text-align: center; color: white;">Perfil de usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" mode="ios" text="" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
  <ion-card color="dark" style="border: solid 2px grey;" mode="ios">
    <ion-card-header style="display: flex; align-items: center; justify-content: center;">
      <img src="/assets/img/user.png" alt="user" style="width: 100%; height: 100%; max-width: 200px; border-radius: 15px;">
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item color="dark">
          <ion-label style="color: white;" position="floating">Nombre</ion-label>
          <br>
          <ion-input style="color: white;" type="text" placeholder="Ingrese nuevos datos..." ></ion-input>
        </ion-item>
  
        <ion-item color="dark">
          <ion-label style="color: white;" position="floating">Correo</ion-label>
          <br>
          <ion-input style="color: white;" type="email" placeholder="Ingrese nuevos datos..." ></ion-input>
        </ion-item>
  
        <ion-item color="dark">
          <ion-label style="color: white;" position="floating">Usuario</ion-label>
          <br>
          <ion-input style="color: white;" type="text" placeholder="Ingrese nuevos datos..." ></ion-input>
        </ion-item>  
      </ion-list>
        <ion-button (click)="updateInfo()" style="display: flex; align-items: center; color: white;">Actualizar informacion</ion-button>      
    </ion-card-content>
  </ion-card>
</ion-content>
