<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="text-align: center; color: white;">Eventos disponibles</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="mostrarMenu()">
          <ion-icon slot="end" color="light" name="menu-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
  <ion-grid id="grid">
    <ion-row id="row">
      <ion-col>
        <ion-card color="dark" style="border: solid 2px grey;" mode="ios" >
          <ion-card-header>
            <ion-card-title style="font-size: 14px; text-align: center; color: white;">1er congreso de investigación</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img src="/../assets/img/convocatoria1.jpg" style="max-height: 100px; height: 100%; " >
            <p style="color: white; text-align: center; margin-top: 10px;">Descripción del evento</p>
            <ion-button (click)="eventoSeleccionado()" expand="block" fill="outline" color="success">Ver más</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row id="row">
      <ion-col>
        <ion-card color="dark" style="border: solid 2px grey;" mode="ios" >
          <ion-card-header>
            <ion-card-title style="font-size: 14px; text-align: center; color: white;">Más que una charla</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img src="/../assets/img/convocatoria2.jpg" style="max-height: 100px; height: 100%; " >
            <p style="color: white; text-align: center; margin-top: 10px;">Descripción del evento</p>
            <ion-button (click)="eventoSeleccionado()" expand="block" fill="outline" color="success">Ver más</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row id="row">
      <ion-col>
        <ion-card color="dark" style="border: solid 2px grey;" mode="ios" >
          <ion-card-header>
            <ion-card-title style="font-size: 14px; text-align: center; color: white;">PRINT DAY</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img src="/../assets/img/convocatoria3.jpg" style="max-height: 100px; height: 100%; " >
            <p style="color: white; text-align: center; margin-top: 10px;">Descripción del evento</p>
            <ion-button (click)="eventoSeleccionado()" expand="block" fill="outline" color="success">Ver más</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
