<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center; color: white;">Administrar eventos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" color="light" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">

  <ion-card color="dark" style="border: solid 2px grey;" *ngFor="let event of events">
    <ion-card-header>
      <ion-card-title style="color: white; text-align: center;">{{ event.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p style="color: white; text-align: center;">{{ event.date }}</p>
      <p style="color: white; text-align: center;">{{ event.location }}</p>
      <img [src]="event.imagen" alt="event image" style="width: 100%; height: 200px;">
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="updateEvent()"><ion-icon slot="end" name="create-outline" color="light"></ion-icon></ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="danger" (click)="deleteEvent()"><ion-icon slot="end" name="trash-outline" color="light"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark" style="border: solid 2px grey;">
    <ion-card-header>
      <ion-card-title style="color: white; text-align: center;">Nuevo Evento</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-item color="dark">
        <ion-label color="light" position="floating">Nombre:</ion-label>
        <br>
        <ion-input style="color: white;" [(ngModel)]="newEvent.name" placeholder="Ingrese el nombre del evento..."></ion-input>
      </ion-item>
      <ion-item color="dark" >
        <ion-label color="light" position="floating">Fecha:</ion-label>
        <br>
        <ion-input style="color: white;" [(ngModel)]="newEvent.date" placeholder="Elija la fecha para guardar el evento..."></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label color="light" position="floating">Ubicación:</ion-label>
        <br> 
        <ion-input style="color: white;" [(ngModel)]="newEvent.location" placeholder="Ingrese la ubicacion del evento..." ></ion-input>
      </ion-item>
      <ion-item color="dark">
        <input type="file" (change)="onNewImageSelected($event)">
        <img *ngIf="newEvent.imagen" [src]="newEvent.imagen" alt="new event image" style="width: 100px; height: 100px;">
      </ion-item>
      <br>
      <ion-button  (click)="createEvent()" expand="full" color="medium" ><ion-icon slot="end" name="add-circle-outline" color="light"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>