

#contenedor_btn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#i-card{
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    max-height: 320px;
    height: 100%;
}
#i-header{
    text-align: center;
}

#i-btn{
    color: white;
    background-color: #1F316F;
    border-radius: 20px;
}
#contenedor_registro{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
