<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" mode="ios" text="" color="dark" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card mode="ios" id="i-card" style="padding-bottom: 15px;">
    <ion-card-header>
      <ion-card-title>Registro de usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-input name="txtNombre" label="Nombre completo: " type="text" labelPlacement="stacked" placeholder="Ingrese su nombre..."></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="txtEmail" label="Correo electronico: " type="email" labelPlacement="stacked" placeholder="Ingrese su correo electronico..."></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="txtUsuario" label="Usuario: " type="text" labelPlacement="stacked" placeholder="Ingrese su usuario..."></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="txtPassword" label="Contraseña: " type="password" labelPlacement="stacked" placeholder="Ingrese su contraseña...">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <div id="contenedor_btn">
      <ion-button (click)="registrar()" style="color: white;" >Registrar usuario</ion-button>
    </div>
    <div id="contenedor_a">
      <a id="a-link" routerLink="/login">¿Ya tienes cuenta? Inicia sesion</a>
    </div>
  </ion-card>
</ion-content>
