<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido A IT-Event</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
      mode="ios"
      text=""
      color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card mode="ios" id="i-card">
    <ion-card-header id="i-header">
      <ion-card-title>Registro de usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list id="i-list" lines="none">
        <ion-item>
          <ion-input type="text" name="txtNombre" labelPlacement="stacked" label="Usuario: " placeholder="Ingrese su usuario..."></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" name="txtCorreo" labelPlacement="stacked" label="Correo: " placeholder="Ingrese su correo..."></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" name="txtContraseña" labelPlacement="stacked" label="Contraseña: " placeholder="Ingrese su contraseña..."></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" name="txtConfirmar" labelPlacement="stacked" label="Confirmar contraseña: " placeholder="Confirme su contraseña..."></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <div id="contenedor_btn">
      <ion-button id="i-btn" (click)="registro()">Registrarse</ion-button>
    </div>
    <div id="contenedor_login">
      <a id="i-link" routerLink="/login">¿Ya tienes cuenta? Inicia sesion</a>
    </div>
  </ion-card>
</ion-content>
